body {
  font-family: "Metropolis", sans-serif;
  font-weight: 600;
}
.colorBaietta {
  color: rgb(43, 152, 146);
}
.bgColorBaietta {
  background-color: rgb(43, 152, 146);
}
.myNavBar {
  border-bottom: 1px solid #ffffff59;
  padding: 0;
  z-index: 2000;
  height: 65px;
}

.navBarBord {
  border-start: 1px solid #ffffff59;
  display: flex;
  align-items: center;
}

.myNavLink {
  color: white !important;
  transition: color 0.3s ease-in-out;
}

.myNavLink:hover,
.myNavLink:focus {
  color: rgb(43, 152, 146) !important;
}

.myNavLink.active {
  color: rgb(43, 152, 146) !important;
}

.navbar-toggler-icon {
  width: 1.7em;
  color: white;
  filter: invert(1);
  border: none;
}
.navbar-toggler {
  border: none;
}

.navbar-collapse.collapse.show {
  background-color: rgb(20, 22, 39);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btnNav {
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: rgb(43, 152, 146);
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
}

.btnNav:hover {
  background-color: red;
}

.logoBaietta {
  display: none;
}

.navbar-collapse.collapse.show .logoBaietta {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.ImgCarouselWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.ImgCarousel {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  display: block;
  animation: imageZoom 15s infinite;
  animation-timing-function: linear;
}

@keyframes imageZoom {
  0% {
    transform: scale(1) translateX(0);
  }
  100% {
    transform: scale(1.2) translateX(-8%);
  }
}

.ImgCarouselWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7));
  pointer-events: none;
  z-index: 10;
}

.custom-carousel .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);

  border: none;
  margin: 5px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 1000;
}

.custom-carousel .carousel-indicators .active {
  background-color: rgb(43, 152, 146);
  transform: scale(1.3);
}

.carousel-control-next {
  right: -4%;
}

.carousel-control-prev {
  left: -4%;
}

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93vh;
  background-color: rgb(242, 242, 244);
}
.baiettaLogo {
  z-index: 1000;
  margin-top: -40px;
}

.btnPrenota {
  z-index: 1000;
  margin-top: 20px;
  font-size: 3.5rem;

  background-color: rgb(43, 152, 146);
  border: none;
  box-shadow: 2px 3px 8px rgb(255, 255, 255);
}

.btnPrenota:hover {
  background-color: rgb(54, 190, 183);
  color: rgb(253, 253, 253);
}

.btnPrenota:active {
  background-color: rgb(43, 152, 146);
  color: white;
  box-shadow: 2px 3px 8px rgb(255, 255, 255);
  transform: none;
}

.mainSection {
  height: 70vh;
  background-color: rgb(242, 242, 244);
}
.imgClub {
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.textClub {
  padding: 10%;
}
.btnScopri {
  z-index: 1000;
  margin-top: 20px;
  font-weight: 600;
  padding: 22px 36px;
  background-color: rgb(43, 152, 146);
  border: none;
  box-shadow: 2px 3px 8px rgb(255, 255, 255);
  border-radius: 0;
}
.textClubH1 {
  color: rgb(43, 152, 146);
  font-weight: 600;
}
.textClubP {
  color: rgb(99, 92, 129);
  font-size: 1.2rem;
}
.sectionWave {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
  background: url("/public/Baietta Web/wave.svg") no-repeat bottom center;
  background-size: cover;
  z-index: 1000;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
}

.marquee-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 5rem;
  color: #333;
  font-family: "Chelsea Market", serif;
  font-weight: 400;
  font-style: normal;
}

.sectionDownTheWave {
  position: relative;
  top: -30vh;
  display: flex;
  height: 70vh;
}
.fotoTramonto {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding-inline: 10%;
}

.sectionDownTheWave Button {
  margin-top: 20px;
  font-weight: 600;
  padding: 22px 36px;
  background-color: rgb(43, 152, 146);
  border: none;
  box-shadow: 2px 3px 8px rgb(255, 255, 255);
  border-radius: 0;
}
.sectionDownTheWave Button:hover {
  background-color: rgb(54, 190, 183);
  color: rgb(253, 253, 253);
}

.sectionSlidingCarousel {
  margin-top: -250px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .myNavBar {
    border-bottom: none;
  }
  .carousel-item {
    position: relative;
    left: -75%;
    width: 191%;
  }
  .baiettaLogo {
    width: 60%;
  }
  .carousel-control-next {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .btnPrenota {
    width: 40%;
    font-size: 0.9rem;
  }

  .imgClub {
    position: relative;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 300px;
    margin: 0;
  }
  .sectionSlidingCarousel {
    margin-top: -110px;
  }
  .marquee-item {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .btnNav {
    display: none;
  }
  .sectionDownTheWave {
    flex-direction: column;
  }
  .fotoTramonto {
    width: 100%;
    height: 50%;
    object-position: center 80%;
  }
  .textContainer {
    width: 100%;

    padding-inline: 18%;
  }
}
